<div class="dashboard">
  <div class="title-block">
    <h3 class="title left">
      Страница записей <span class="sparkline bar"></span>
    </h3>
  </div>

  <div class="row center" *ngIf="!isLoaded">
    <app-loader></app-loader>
  </div>
  <div *ngIf="isLoaded">
    <div class="row">
      <div class="col s12 m6">
        <app-add-event [categories]="categories"></app-add-event>
      </div>

      <div class="col s12 m6">
        <app-add-category (newCategory)="newCategoryAdd($event)"></app-add-category>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <app-edit-category (categoryEdit)="onCategoryUpdate($event)" [categories]="categories"></app-edit-category>
      </div>
    </div>
  </div>
</div>

