<div class="dashboard">
  <div class="row center" *ngIf="!isLoaded">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="title-block" *ngIf="isLoaded">
    <h3 class="title">
      <a [routerLink]="['/history']"><i class="material-icons">keyboard_backspace</i></a>
      Страница записи #{{ event._id }}
      <span class="sparkline bar"></span>
    </h3>
  </div>

  <div class="row" *ngIf="isLoaded">
    <div class="col s6 offset-s3">
      <div class="card " [ngClass]="{ 'card-success': event.type === 'income', 'card-danger': event.type === 'outcome' }">
        <div class="card-header">
          <div class="header-block">
            <p class="title" *ngIf="event.type === 'income'">Доход</p>
            <p class="title" *ngIf="event.type === 'outcome'">Расход</p>
          </div>
        </div>
        <div class="card-block">
          <ul>
            <li>
              Сумма:
              <strong *ngIf="event.currency === 'rub'">{{ event.amount | currency:'RUB':'':'1.2-2':'ru-RU' }} &#8381;</strong>
              <strong *ngIf="event.currency === 'usd'">{{ event.amount | currency:'USD':'':'1.2-2':'en-US' }} &#36;</strong>
              <strong *ngIf="event.currency === 'eur'">{{ event.amount | currency:'EUR':'':'1.2-2':'fr-FR' }} &euro;</strong>
            </li>
            <li>Категория: <strong>{{ category.title }}</strong></li>
            <li *ngIf="event.description?.length > 0">Комментарий: <strong>{{ event.description }}</strong></li>
          </ul>
        </div>
        <div class="card-footer">{{ event.date | date:'dd.MM.yyyy HH:mm:ss' }}</div>
      </div>
    </div>
  </div>
</div>
