<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Редактировать категорию</h3>
    </div>
  </div>
  <div class="card-block">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <label for="select-category">Выберите категорию</label>
        <select class="browser-default" id="select-category" (change)="onCategoryChange($event.target)">
          <option selected disabled>Выберите категорию для редактирования</option>
          <option *ngFor="let category of categories" [value]="category._id" >{{ category.title }}</option>
        </select>
      </div>

      <div class="input-field">
        <label class="active" for="category-name">Введите название</label>
        <input type="text" id="category-name" formControlName="title" [value]="currentCategory.title"
         [ngClass]="{ 'invalid': form.get('title').invalid && form.get('title').touched }">
        <span class="helper-text red-text" *ngIf="form.get('title').invalid && form.get('title').touched">
          <span *ngIf="form.get('title').errors['required']">Название не должен быть пустым</span>
        </span>
      </div>

      <button type="submit" class="modal-action btn waves-effect" [disabled]="form.invalid || form.disabled">Изменить</button>
    </form>
  </div>
</div>
